{% extends "base.html" %}

{% block title %}Generate Token{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Generate Token</h1>
        <form method="post">
            <div class="form-group">
                <label for="username">User Name:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <button type="submit" class="btn btn-primary">Generate Token</button>
        </form>
    </div>
</div>
{% endblock %}
