{% extends "base.html" %}

{% block title %}Registered users{% endblock %}

{% block content %}
<h1>Registered Users and Tokens</h1>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>User name</th>
            <th>Token</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user['username'] }}</td>
            <td>{{ user['token'] }}</td>
            <td>
                <form action="{{ url_for('delete_user', username=user['username']) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form action="{{ url_for('generate_token', username=user['username']) }}" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-warning">Generate New Token</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="/admin" class="btn btn-secondary">Back</a>
{% endblock %}
